Django>=4.2,<5.1
wagtail>=6.1,<6.2
mysqlclient
django-anymail==11.0.1
django-recaptcha==4.0.0
django-taggit==5.0.1
django-modelcluster==6.3
django-permissionedforms==0.1
wagtail-django-recaptcha==2.1.1
django-filter==24.2
django-treebeard==4.7.1
djangorestframework==3.15.1