
@media (min-width: 300px) {
  .navbar-nav {
    text-align: center;
  }
}



.nav-item {
  margin-right: 10px;
  margin-left: 10px;
}

#dark-nav .nav-item:hover {
  font-weight: bold;
  /*padding-right: 20px;*/
  /*padding-left: 20px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  background-color: #fccc3d;
  border-radius: 10px;
}

#light-nav .nav-item:hover a {
  color: #000000;
  font-weight: bolder;
  background-color: #fccc3d;
}

#light-nav .nav-item a {
  color: #000000;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  border-radius: 10px;
  font-family: Abel, sans-serif;
}

#dark-nav .nav-item a {
  color: #ffffff;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  border-radius: 10px;
  font-family: Abel, sans-serif;
}

#dark-nav .nav-item:hover a {
  color: #000000;
  font-weight: bold;
}


.button {
  font-weight: bolder;
  border-style: none;
  color: #ffffff;
  padding-right: 44px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 44px;
  border-radius: 20px;
  background-color: #161d46;
  text-decoration: none;
}


  


.button:hover svg {
  color: black;
}



.button:hover {
  background-color: #f4c007;
  transition: 0.5s;
  color: black;
  text-decoration: none;
}

#about-us h2 {
  color: var(--bs-body-bg);
  font-weight: bold;
}

#igcse {
  padding-top: 50px;
  padding-bottom: 50px;
}

#our-program p {
  color: var(--bs-body-color);
  text-align: justify;
}

#igcse .btn {
  font-weight: bolder;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(92,30,24);
  color: #5c1e18;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#igcse .btn:hover {
  font-weight: bold;
  background-color: #5c1e18;
  border-style: solid;
  border-color: rgb(92,30,24);
  transition: 1s;
  color: white;
}

@media (max-width: 400px) {
  .feature-card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    padding-left: 5px;
    backdrop-filter: opacity(1);
    background: #edf6ff;
    transition: transform 1s;
    height: 250px;
  }
}

#about-us .feature-card {
  transition: ease-in-out;
  border-radius: 25px;
  height: 400px;
  box-shadow: 1px 7px 17px 6px rgb(220,216,216);
  position: relative;
}

#about-us .feature-card:hover {
  transform: scale(1.05);
  background: linear-gradient(0deg, var(--bs-primary-bg-subtle) 0%, rgba(255,255,255,0) 100%);
  transition: ease-out 0.3s;
}

#pathways svg {
  font-size: 20px;
  color: #000000;
}

.feature-card h4 {
  font-size: 20px;
  font-weight: bold;
  color: #e0e0e0;
}

input:hover {
  border: 1px solid var(--bs-primary-text-emphasis);
}

.contact-card:hover {
  background-color: #e4ce08;
  transition: 0.2s ease-out;
  box-shadow: none;
}

.contact-card {
  border-radius: 20px;
  text-decoration: none;
  background: #fafafa;
}

@media (max-width: 400px) {
  logo h1 {
    font-size: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  #welcome h1 {
    font-size: 50px;
  }
}

.contact h6 {
  font-size: 20px;
  color: #000000;
}

.contact p {
  font-size: 18px;
  color: #163d66;
  text-align: left;
  font-weight: bold;
}

.contact svg {
  font-size: 25px;
  margin-right: 10px;
  color: var(--bs-primary-text-emphasis);
}

@media (max-width: 400px) {
  #about-us h1 {
    font-size: 40px;
  }
}

.form-label {
  font-size: 17px;
  font-weight: bold;
}

#testimonial {
  background: var(--bs-primary-text-emphasis);
}

.contact-card-img:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}


form {
  border-radius: 20px;
  height: auto;
}

#pathways p {
  color: var(--bs-light-bg-subtle);
}

.card-hover:hover h4 {
  color: #dd7500;
}

#footer svg:hover {
  font-size: 30px;
  color: #e4ce08;
}

#footer p {
  color: #ffffff;
}

a {
  text-decoration: none;
}

#footer svg {
  font-size: 30px;
  color: #ffffff;
}

#footer h3 {
  color: var(--bs-body-bg);
}

#subjects .card:hover h4 {
  font-weight: bold;
}

#subjects .card:hover {
  transform: scale(1.01);
  transition: ease-out 0.5s;
  background: #fee658;
  transform: translateY(-5px);
}



@media (max-width: 300px) {
  .subheader {
    height: 300px;
  }
}

@media (m-width: 300px) {
  .subheader {
    height: 500px;
  }
}

#our-program .btn:hover {
  background-color: #ffc107;
  color: #4e4646;
}

.play-button:hover {
  color: rgba(201,0,61,0.64);
  transition: 1s;
}

#subject-card .card:hover .card-body {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
}

.fit-cover {
  object-fit: cover;
  transition: 0.4s ease-in-out;
}

#locations .hover-card svg {
  color: #ffffff;
}

#locations .hover-card:hover svg {
  color: #ffc107;
}

#locations .hover-card:hover p {
  color: #ffc107;
}

#locations .hover-card:hover h4 {
  color: #ffc107;
}

#locations p {
  color: #ffffff;
}

#locations h4 {
  color: #ffffff;
}


#subjects .card {
  border-radius: 20px;
  background: #ffffff;
  border: none;
}

.fit-cover:hover {
  transform: scale(1.10);
}

#footer a:hover {
  text-decoration: underline;
  color: #ffda00;
}

#footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

a {
  text-decoration: none;
}

#subjecs .card .card-body {
  border-radius: 20px;
}

@media (min-width: 992px) {
  .admission-cover {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .admission-cover {
    height: 400px;
  }
}



#header {
  min-height: 100dvh;
  background: #fff9f5;
}

body {
  background-color: #fafafa;
}

#light-nav {
  min-height: 150px;
}

.main-logo h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: Abel, sans-serif;
}

.main-logo span {
  color: #fccc3d;
}


.map {
  height: 300px;
  padding-top: 0px;
  margin-top: 20px;
}

.contact-form {
  padding-top: 71px;
  padding-bottom: 71px;
  background: #fafafa;
  padding-left: 40px;
  padding-right: 40px;
}

.contact-form-button {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.contact-heading {
  color: var(--bs-body-bg);
  background: #161d46;
  border-radius: 10px;
  font-weight: bold;
}

.name-banner {
  border-radius: 10px;
  border: 3px dashed rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(255,255,255);
  background: #161d46;
}

.page-header {
  height: 400px;
}

.page-header h1 {
  color: #ffffff;
}

.page-header p {
  color: white;
  font-size: 25px;
}

.main-logo .dark {
  color: white;
}

.main-logo .light {
  color: #161d46;
}

.dark {
  color: white;
}

.light {
  color: #161d46;;
}

#dark-nav {
  min-height: 150px;
  background-color: #161d46;
}