{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

<!-- replace everything below with: -->
{% block content %}
{% include "includes/dark_nav.html" %}

<section class="page-header">
  <div data-bss-parallax-bg="true" class="page-header" style="background: linear-gradient(-90deg, rgba(101,101,101,0.8) 0%, rgba(255,255,255,0.17) 100%), url('/media/original_images/19-1920x1536.webp') center / cover no-repeat;">
      <div class="container h-100">
          <div class="row d-md-flex d-xl-flex justify-content-md-end justify-content-xl-end h-100">
              <div class="col-md-6 text-md-start d-flex d-sm-flex align-items-center justify-content-end align-items-sm-center ">
                  <div class="d-flex d-xl-flex flex-column align-items-end align-items-xl-end">
                      <h1 class="display-3 text-uppercase fw-bold text-end">{{ page.header_title}}</h1>
                      <p class="lead text-end my-3">&nbsp;{{ page.subtitle }}&nbsp;</p><a class="btn btn-warning btn-lg text-end d-flex d-xl-flex rounded" role="button" href="/contact-us-form">Send Us a Message</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
    
    {% for block in page.school_locations %}
        {% include_block block %}
    {% endfor%}

   
        <section id="contact-hero">
            <div class="row g-0 d-xl-flex justify-content-center align-items-xl-center" style="width: 100%;height: auto;">
                <div class="col-xl-6"></div>
                <div class="col-xl-6" style="background: var(--bs-body-bg);">
                    <div class="container-md contact-form">

                        <form data-aos="fade-up" class="py-3 ps-0 pe-0" data-bss-recipient="19bc99b860db9a822d70a49972594532" data-bss-subject="City School Taunggyi Contact" style="padding-left: 20px;padding-right: 20px;">
                           
                            <h1 class="text-uppercase" style="font-weight: bold;color: rgb(6,53,108);">SEND US A MESSAGE!</h1>
                            <p style="text-align: left;color: var(--bs-emphasis-color);">Send us inquiries regarding admission and program details. Our representation will contact you soon.&nbsp;</p>
                            <div class="row row-cols-1 row-cols-sm-2 d-flex flex-row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label text-uppercase" for="name">Name</label><input class="form-control" type="text" id="name" name="name" required=""></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3"><label class="form-label text-uppercase" for="course">Course of study</label><input class="form-control" type="text" name="course" required=""></div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-sm-2">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label text-uppercase" for="email">Email</label>
                                    <input class="form-control" type="email" name="email" inputmode="email" required=""></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3"><label class="form-label text-uppercase" for="phone">Phone</label>
                                    <input class="form-control" type="tel" inputmode="tel" name="phone" required=""></div>
                                </div>
                            </div>
                            <div class="mb-3"><label class="form-label text-uppercase" for="message">Message</label>
                            <textarea class="form-control" id="message-1" name="message" rows="6" required=""></textarea></div>

                            <div class="mb-3"><button class="btn btn-primary fs-4 fw-lighter contact-form-button" type="submit"><i class="fa fa-paper-plane-o"></i>&nbsp; SEND</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}