{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    {% include "includes/dark_nav.html" %}

  <section class="page-header">
    <div data-bss-parallax-bg="true" class="page-header" style="background: linear-gradient(-90deg, rgba(101,101,101,0.8) 0%, rgba(255,255,255,0.17) 100%), url( {{ page.header_image.url }}) center / cover no-repeat;">
        <div class="container h-100">
            <div class="row d-md-flex d-xl-flex justify-content-md-end justify-content-xl-end h-100">
                <div class="col-md-6 text-sm-start d-flex d-sm-flex align-items-center justify-content-sm-end align-items-sm-center">
                    <div class="d-flex d-xl-flex flex-column align-items-end align-items-xl-end">
                        <h1 class="display-3 text-uppercase fw-bold text-end">{{ page.header_title }}</h1>
                        <p class="lead text-end my-3 ">{{ page.header_subtitle }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 {% if page.featured_blogs.all %}
<section>
  <div class="container py-5 py-xl-5 mt-5">
            <div class="row py-0 mb-0 pb-md-0 mb-md-4 mb-xxl-5 mb-xl-5 mb-lg-5" style="margin-top: 25px;margin-bottom: 60px;">
                <div class="col text-center">
                    <h5 class="fw-bold text-warning text-start " data-aos="fade" style="color: #ff6b00;">Read Our Blogs</h5>
                    <h1 class="display-3 text-start" data-aos="fade-up" style="color: var(--bs-body-color);font-weight: bold;">Featured News</h1>
                    </div>
            </div>

            {% for blog in page.featured_blogs.all %}
            {% with blog=blog.featured_blog.specific %}
            
            <div class="row px-md-3 py-4 mb-4 hover-effect" style="background: #fefefe; border-radius:25px;" >
                <div class="col">
                    <div style=" border-radius: 25px; overflow:hidden; height:300px; " >
                        <img class="fit-cover d-block  w-100" src= {{ blog.main_image.file.url }} >  
                    </div>
                </div>
                
                <div class="col-md-8 px-5 align-items-stretch">
                    <h2 class="mb-0 pb-2">{{ blog.title }}</h2>
                    <p class="text-muted">{{ blog.date }}</p>
                    <p class="text-muted fs-5">{{ blog.intro }}</p>
                    <a href="{% pageurl blog %}" class="btn btn-primary btn-lg mt-auto px-4 align-item-start rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"/>
                    </svg>&nbsp;&nbsp;Read More !</a>

                </div>
            </div>
                {% endwith %}
            {% endfor %}
    </div>
</section>

{% endif %}

<section style=" min-height: 100vh;">
    <div class="container py-5 py-xl-5" id="blogs">
            <div class="row py-0 mb-0 pb-md-0 mb-md-4 mb-xxl-5 mb-xl-5 mb-lg-5" style="margin-top: 25px;margin-bottom: 60px;">
                <div class="col text-center">
                    <h5 class="fw-bold text-warning mb-md-0" data-aos="fade" style="color: #ff6b00;">News and Resources</h5>
                    <h1 class="display-3 text-center" data-aos="fade-up" style="color: var(--bs-body-color);font-weight: bold;">Read All Our Blogs</h1>
                    {% if blogpages.paginator.num_pages > 1 %}
                <div class="container pt-5 d-flex justify-content-center ">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="pagination">
                            {% if blogpages.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ blogpages.previous_page_number }}#blogs" class="page-link fw-bold text-primary fs-6">
                                <span>&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                        {% for page_num in blogpages.paginator.page_range %}
                        <li class="page-item {% if page_num == blogpages.number %} active fw-bold{% endif %} fs-6">
                            <a href="?page={{ page_num }}#blogs" class="page-link fs-6">
                            {{ page_num }}
                            </a>
                        </li>
                        {% endfor %}

                        {% if blogpages.has_next %}
                        <li class="page-item">
                            <a href="?page={{ blogpages.next_page_number }}#blogs" class="page-link fs-6 text-primary">
                            <span>&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </div>
                    </div>
                    </div>
                </div>
            {% endif %}
            </div>
    </div>


    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 pt-4">
            {% for blog_page in blogpages %}
            {% with blog_page=blog_page.specific %}
                <div class="col d-flex flex-column align-items-stretch" style="border-style: none;  ">
                    <div class="card h-100 hover-effect " style="background-color: #ffffff; border-style: none; border-radius:20px " >
                        <div class="card-body p-4 d-flex flex-column"   >
    
                            <div style="overflow: hidden; border-style: none; border-radius:20px; height:300px;">
                            {% with blog_page.main_image as main_image %}
                                <img class=" w-100 d-block " src="{% if main_image %}{{ main_image.file.url }} {% endif %}">
                            {% endwith %}
                            </div>


                            <p class="text-primary card-text pt-3 mb-0">{{ blog_page.date }}</p>
                            <h4 class="card-title fw-bold" >{{ blog_page.title }}</h4>
                            <p class="card-text text-muted fs-5" >{{ blog_page.intro }}</p>
                            <a href="{% pageurl blog_page %}" class="btn btn-outline-primary btn-lg mt-auto px-4 align-item-start rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"/>
                            </svg>&nbsp;&nbsp;Read More !</a>

                        </div>
                    </div>
                        
                </div>
                {% endwith %}
            {% endfor %}

            </div>
    </div>
    
</section>


        
{% endblock %}
