
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    {% include "includes/dark_nav.html" %} 

    <section class="page-header">
        <div data-bss-parallax-bg="true" class="page-header" style="background: linear-gradient(-90deg, rgba(101,101,101,0.8) 0%, rgba(255,255,255,0.17) 100%), url('/media/original_images/pexels-andrea-piacquadio-3768126.webp') center / cover no-repeat;">
            <div class="container h-100">
                <div class="row d-md-flex d-xl-flex justify-content-md-end justify-content-xl-end h-100">
                    <div class="col-md-6 text-md-start d-flex d-sm-flex align-items-center justify-content-sm-end align-items-sm-center">
                        <div class="d-flex d-xl-flex flex-column align-items-end align-items-xl-end">
                            <h1 class="display-3 text-uppercase fw-bold text-end">Blogs</h1>
                            <p class="lead text-end my-3">&nbsp;"Where Learning Meets Community: Your Window into City School Life"&nbsp;</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <div class="container px-5 " style="border-left: 1rem solid #32a1ce; margin-top:100px">
        <h1 class="display-3 fw-bold">{{ page.title }}</h1>
        <div class="intro"><p>{{ page.intro }}<p></div>
        <p class="meta lead pt-3">Date: {{ page.date }}</p>
    </div>
           

    <div class="container my-5 pt-5 px-5 " style="border-radius: 20px; background-color:#fdfdfd" >
        

    <div class="row">
        <div class="col-md-9 mb-5">
        
            <div class="pb-3 pt-3 blog-body lead" ">
                {{ page.body }}
            </div>
       </div>

        <div class="col-md-3" >    
            
            <div class="px-4" style="border-left: solid;">
                {% with authors=page.authors.all %}
                {% if authors %}
                <h4>Authors</h4>
                    {% for author in authors %}
                        <div class="d-flex justify-content-start align-items-center">
                            {% image author.author_image fill-60x60 style="vertical-align: middle" %}
                            <p class="lead pt-3">{{ author.name }}<p>
                        </div>
                    {% endfor %}
                
                    
                    {% endif %}
                    {% endwith %}
                    
            </div>

            <div class="mt-5 mb-5 px-4" style="border-left: solid;">
                {% with tags=page.tags.all %}
                    {% if tags %}
                        <div class="tags">
                            <h4>Related Tags</h4>
                            {% for tag in tags %}
                                <a class="btn btn-outline-primary btn-small mt-1" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
    </div>
    </div>

       
        
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Blog Photo Gallery</h2>
                </div>
            </div>
            <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox>
                {% for item in page.gallery_images.all %}
                    <div>
                        <div class="col item"><a href={{ item.image.file.url }}><img class="img-fluid" height=150 src={{ item.image.file.url }} /></a></div>
                        <p>{{ item.caption }}</p>
                    </div>
                {% endfor %}

                
            </div>
        </div>


        
        {% if page.signup_button %}
            <a class="btn btn-outline-primary" role="button" href="{{ page.signup_button.url }}" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-telegram">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
                    </svg>Sign up</a>
        {% endif %}


         <p class="lead pt-5 pb-5"><a class="button" href="{{ page.get_parent.url }}">Return to blog</a></p>

        </div>
    </div>
    </div>
   
       

{% endblock %}