{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    {% include "includes/dark_nav.html" %}

  <section class="page-header">
    <div data-bss-parallax-bg="true" class="page-header" style="background: linear-gradient(-90deg, rgba(101,101,101,0.8) 0%, rgba(255,255,255,0.17) 100%), url( {{ page.header_image.url }} ) center / cover no-repeat;">
        <div class="container h-100">
            <div class="row d-md-flex d-xl-flex justify-content-md-end justify-content-xl-end h-100">
                <div class="col-md-6 text-md-start d-flex d-sm-flex align-items-center justify-content-sm-end align-items-sm-center">
                    <div class="d-flex d-xl-flex flex-column align-items-end align-items-xl-end">
                        <h1 class="display-3 text-uppercase fw-bold text-end">{{ page.header_title }}</h1>
                        <p class="lead text-end my-3">{{ page.header_subtitle }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>

  <div class="container mt-5 mb-5">
      
      <div class="intro">{{ page.intro|richtext }}</div>
      
      <div class="d-flex gap-5">
        {% for post in blogpages %}
          {% with post=post.specific %}
          <div class="card" style="width: 18rem;">
            {% with post.main_image as main_image %}
            {% if main_image %}
            <div style="width: 100%;">
              {% image main_image fill-200x100 %}
            </div>
            {% endif %}
            {% endwith %}
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.intro }}</p>
                <p class="card-text">{{ post.date }}</p>
                <a href="{% pageurl post %}" class="btn btn-primary">Read More!</a>
              </div>
            </div>
          
          {% endwith %}
      {% endfor %}
      </div>
</section>

        
{% endblock %}