
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    {% include "includes/light_nav.html" %} 

    <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.date }}</p>
        <div class="intro">{{ page.intro }}</div>
        <div>
        {% with authors=page.authors.all %}
            {% if authors %}
                <h3>Posted by:</h3>
                <ul>
                    {% for author in authors %}
                        <li style="display: inline">
                            {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                            {{ author.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </div>
    
        {{ page.body}}

        {% for item in page.gallery_images.all %}
            <div>
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}


        {% if page.signup_button %}

            <a class="btn btn-light btn-lg" role="button" href="{{ page.signup_button.url }}" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-telegram">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
                    </svg>Sign up</a>
        {% endif %}

    
        <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

        {% with tags=page.tags.all %}
        {% if tags %}
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    </div>
   

{% endblock %}