<nav id="dark-nav" class="navbar navbar-expand-lg  focus-ring" >
    <div class="container"><a class="navbar-brand d-flex align-items-center main-logo" href="/"><img src="/media/original_images/logo2.png" width="78" height="75" />
            <h1 class="display-3 text-uppercase dark">City<span class="text-secondary" style="--bs-secondary: #ffda00;--bs-secondary-rgb: 255,218,0;">School</span></h1>
        </a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2" style="background: #ffda00;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="color: var(--bs-navbar-active-color);"></span></button>
        <div id="navcol-2" class="collapse navbar-collapse flex-row flex-grow-0 align-items-start align-content-center justify-content-xl-center" style="z-index: 3;">
            <ul class="navbar-nav navbar-nav-scroll text-uppercase mx-auto">
                <li class="nav-item text-uppercase"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/academics">academics</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="contactus">Contacts </a></li>
                <li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
            </ul>
        </div>
    </div>
</nav>