<nav id="light-nav" class="navbar navbar-expand-lg focus-ring">
    <div class="container"><a id="logo" class="navbar-brand d-flex align-items-center" href="#"><img src="\media\original_images\logo2.png" height="75" />
            <h1 class="text-uppercase text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start main-logo" style="font-family: Abel, sans-serif;">City<span>School</span></h1>
        </a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse flex-row flex-grow-0 align-items-start align-content-center justify-content-xl-center" style="/*z-index: 3;*/">
            <ul class="navbar-nav navbar-nav-scroll text-uppercase">
                <li class="nav-item text-uppercase"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" style="font-family: Abel, sans-serif;" href="academics.html">academics</a></li>
                <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="contact-us.html">Contacts</a></li>
                <li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
            </ul>
        </div>
    </div>
</nav>