<section id="faq" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row justify-content-center mb-5" data-aos="fade-up" data-aos-duration="950">
                    <div class="col-12 col-lg-8 col-xl-7 text-center mb-4">
                        <h1 class="display-2 fw-bolder mt-2 mb-3" style="font-weight: bold;">{{ self.title }}</h1>
                        <p class="lead fs-4 text-dark">{{ self.subtitle }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" role="tablist" id="accordion-1">

        
       
        {% for faq in self.faqs %}
                <div class="accordion-item">
                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-{{ forloop.counter }}" aria-expanded="false" aria-controls="accordion-1 .item-{{ forloop.counter }}">{{ faq.question }}</button></h2>
                    <div class="accordion-collapse collapse item-{{ forloop.counter }}" role="tabpanel" data-bs-parent="#accordion-1">
                        <div class="accordion-body">
                            <p class="mb-0" style="color: var(--bs-primary-text-emphasis);">{{ faq.answer }}</p>
                        </div>
                    </div>
                </div>


        {% endfor %}
</div>

       
            </div>
    </div>
</section>